{% extends 'base.html' %}

{% block head%}
<title> Home </title>
{%endblock%}

{% block body%}
<br>
<h1> Home Page </h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p> Welcome to the Short Story Blog. Here you can write short stories as well as read others short stories</p>
            <p>
                <a class="btn btn-primary" href="/allposts" role="button">Go to stories &raquo;</a>
            </p>
        </div>
    </div>
</main>
{%endblock%}